*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: poppins,sans-serif;
    text-decoration: none;
}

body{
    overflow-x: hidden;
}

.profile-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 4rem;
    margin-left: 135px;
    margin-right: 135px;
}

.profile-picture {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid var(--rentease-secondary);
    box-shadow: 5px 7px 25px var(--rentease-hover-secondary);
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.profile-picture img:hover {
    transform: scale(1.2);
}

.profile-info {
    width: 900px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.profile-info h1 {
    font-size: 40px;
    margin-bottom: 12px;
}

.profile-info p {
    font-size: 20px;
    margin-bottom: 12px;
}

.bio {
    line-height: 36px;
}

.rating-container {
    display: inline-flex;
    align-items: center;
    margin-bottom: 12px;
}

.rating-container h2 {
    margin-right: 8px;
}

.reviews i {
    margin-right: 2px;
}

.reviews {
    color: orange;
}

.container {
    width: 100vw;
}

.tab-box {
    margin-left: 135px;
    margin-right: 135px;
    margin-top: 26px;
    margin-bottom: 26px;
}

.tab-btn {
    background-color: transparent;
    color: var(--txt-secondary);
    padding: 16px 32px;
    border: none;
    border-radius: 45px;
    font-size: 16px;
    font-weight: 600;
}

.tab-btn:hover {
    color: var(--bg-primary);
    background-color: var(--rentease-hover-secondary);
}

.tab-btn.active {
    background-color: var(--rentease-secondary);
    color: var(--bg-primary);
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.property-post-content {
    display: flex;
    background-color: var(--rentease-secondary);
    max-height: 400px;
    overflow: hidden;
    position: relative;
    margin-bottom: 28px;
    width: 100vw;
    box-shadow: 5px 7px 25px var(--rentease-hover-secondary);
}

.property-post-content img {
    height: auto;
    width: 40%;
    object-fit: cover;
}

.property-info {
    margin-right: 135px;
    padding: 38px;
    width: 100vw;
}

.property-info img {
    height: 18px;
    width: 18px;
    margin-right: 8px;
}

.date-posted {
    font-size: 16px;
    color: var(--txt-secondary);
    margin-bottom: 16px;
}

.tags {
    margin-top: 8px;
    margin-bottom: 16px;
    display: inline-flex;
    gap: 14px;
}

.unit-type {
    background: linear-gradient(82deg,#F5F5DC, #BDA27E);
    padding: 16px 24px;
    border-radius: 45px;
    font-weight: 600;
    border: 1px solid var(--btn-default);
}

.unit-price {
    background: linear-gradient(82deg,#D9534F, #FF6F61);
    padding: 16px 24px;
    border-radius: 45px;
    font-weight: 600;
    border: 1px solid var(--btn-default);
}

.description {
    max-height: 120px;
    overflow: auto; /* allow user to scroll when the height exceed to the max-height*/
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 30px;
}

.property-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 48vw;
    margin-bottom: 38px;
}

.reviews p {
    color: var(--txt-primary);
}

.rent-btn {
    padding: 16px 32px;
    color: var(--bg-primary);
    background-color: var(--btn-default);
    border: none;
    border-radius: 20px;
}

.rent-btn:hover {
    background-color: var(--btn-hover);
}

.find-tenant-content {
    display: flex;
    flex-direction: column;
    background-color: var(--rentease-secondary);
    max-height: 400px;
    overflow: hidden;
    margin-bottom: 28px;
    width: 100vw;
    box-shadow: 5px 7px 25px var(--rentease-hover-secondary);
}

.find-tenant-info{
    padding: 38px 135px 0px 135px;
    width: 100vw;
}

.caption {
    max-height: 150px;
    overflow: auto; /* allow user to scroll when the height exceed to the max-height*/
    font-size: 20px;
    line-height: 30px;
}

.find-tenant-bottom {
    padding: 16px 135px 38px 135px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.delete-btn {
    padding: 16px 32px;
    background-color: transparent;
    color: var(--bg-primary);
    border: none;
    border-radius: 20px;
}

.delete-btn:hover {
    background-color: rgba(255, 0, 0, 0.5);
}

.isFound-btn {
    padding: 16px 32px;
    background-color: var(--btn-default);
    color: var(--bg-primary);
    border: none;
    border-radius: 20px;
}

.isFound-btn:hover {
    background-color: var(--btn-hover);
}

.reviews-content {
    display: grid;
    column-gap: 30px;
    /*grid-template-columns: auto auto auto; /* contains 3 columns with auto weight*/
    grid-template-columns: repeat(3, minmax(400px, 1fr));
    background-color: var(--rentease-secondary);
    height: 646px;
    overflow: hidden;
    margin-bottom: 38px;
    width: 100vw;
    box-shadow: 5px 7px 25px var(--rentease-hover-secondary);
    padding-left: 135px;
    padding-right: 135px;
}

/* For smaller screens */
@media (max-width: 1200px) {
    .reviews-content {
        grid-template-columns: repeat(2, minmax(400px, 1fr));
    }
}

@media (max-width: 768px) {
    .reviews-content {
        grid-template-columns: 1fr;
    }
}

.review-info-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 120px 38px 38px 38px;
    border: 1px solid var(--rentease-primary);
    width: 371px;
    height: 522px;
    overflow: visible;
    border-radius: 45px;
    position: relative;
    margin-top: 90px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.5s; /* Transition all properties including border color */
}

.review-info-container:hover {
    transition: scale(1.2);
    box-shadow: 0px 4px 50px var(--rentease-primary)
}

.user-review-profile {
    height: 150px;
    width: 150px;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid var(--rentease-secondary);
    outline: 1px solid var(--rentease-primary);
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.user-review-profile img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.user-review-profile img:hover {
    transform: scale(1.2);
}

.reviews-content h1 {
    font-size: 38px;
}

.quotation-mark-right {
    display: flex;
    justify-content: right;
}

.review-info-container .reviews,
.review-caption,
h4,
.date-review {
    align-self: center;
}

.review-caption {
    display: flex;
    max-height: 200px;
    overflow: auto;
    line-height: 30px;
    text-align: center;
}

/* the date-review is place inside the review-info-container */
.date-review {
    color: var(--txt-secondary);
    margin-top: 8px;
    bottom: 38px;
}

/* Cuztomize the scrollbar */
/* Target the scrollbar */
::-webkit-scrollbar {
    width: 10px; /* Width of the vertical scrollbar */
    height: 10px; /* Height of the horizontal scrollbar */
}

/* Scrollbar track */
::-webkit-scrollbar-track {
    background: rgba(240, 240, 240, 0.3); /* Color of the scrollbar track */
    border-radius: 10px; /* Rounded corners */
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
    background-color: #007bff; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners */
    border: 2px solid #f0f0f0; /* Padding around the thumb */
}

/* Scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #0056b3; /* Darker color when hovering */
}
