body{
    background-color: var(--rentease-primary)
}

.topnav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 0 20px;
    flex-wrap: wrap; /* Allow wrapping for smaller screens */
}

.rentEaseLogo{
    width: 42px;
    height: 42px;
    margin-left: 58px;
}

form{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 0 20px;
    flex-wrap: wrap; /* Allow wrapping for smaller screens */
}

form button{
    padding: 14px 28px 14px 28px;
    color: white;
    background-color: var(--btn-default);
    border: none;
}

form button:hover{
    background-color: var(--btn-hover);
}

form button:active{
    background-color: var(--btn-pressed);
}

.searchbar{
    width: 800px;
    height: 42px;
    padding-left: 16px;
    padding-right: 16px;
}

.searchbar:focus{
    outline: none;
    border-style: solid;
    border-color: var(--rentease-secondary);
}

.topnav a {
    color: var(--txt-primary);
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 17px;

}

.topnav a:hover {
    background-color: var(--rentease-hover-secondary);
    color: white;
}

.topnav a.active {
    background-color: var(--rentease-secondary);
    color: white;
}

.logout-btn{
    background-color: var(--rentease-primary);
    color: var(--txt-primary);
    border: none;
    padding: 13px 16px;
    cursor: pointer;
    font-size: 16px;
}

.logout-btn:hover{
    background-color: #FF6666;
}

.sampleProfile {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 1px solid var(--btn-default);
    object-fit: cover; /* Ensures the image fits well inside the circle */
    margin-right: 58px;
}
