*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: poppins,sans-serif;
    text-decoration: none;
}

.properties-container {
    margin-left: 135px;
    margin-right: 135px;
}

#create-post-popover {
    position: absolute; /* Allow absolute positioning */
    top: 50%; /* Move element halfway down the viewport */
    left: 50%; /* Move element halfway to the right */
    transform: translate(-50%, -50%); /* Adjust position back by half the element's width and height */
    text-align: center;
    padding: 40px;
    background-color: var(--rentease-secondary);
    border: none;
    border-radius: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    gap: 10px; /* Add space between items */
}

.post-btn{
    border-radius: 20px;
    color: var(--bg-primary);
    padding: 16px 100px;
}
