*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: poppins,sans-serif;
    text-decoration: none;
}

body{
    overflow-x: hidden;
}

.container {
    width: 100vw;
}

.tab-box {
    margin-left: 135px;
    margin-right: 135px;
    margin-top: 26px;
    margin-bottom: 26px;
}

.tab-btn {
    background-color: transparent;
    color: var(--txt-secondary);
    padding: 16px 32px;
    border: none;
    border-radius: 45px;
    font-size: 16px;
    font-weight: 600;
}

.tab-btn:hover {
    background-color: #007BFF;
    color: #fff;
}

.tab-btn:hover {
    color: var(--bg-primary);
    background-color: var(--rentease-hover-secondary);
}

.tab-btn.active {
    background-color: var(--rentease-secondary);
    color: var(--bg-primary);
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.to-review-content {
    display: flex;
    background-color: var(--rentease-secondary);
    max-height: 400px;
    overflow: hidden;
    position: relative;
    margin-bottom: 28px;
    width: 100%;
    box-shadow: 5px 7px 25px var(--rentease-hover-secondary);
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.to-review-content img {
    height: auto;
    width: 40%;
    object-fit: cover;
}

.to-review-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.to-review-info img {
    height: 18px;
    width: 18px;
    margin-right: 8px;
}

.review-btn-wrapper {
    display: flex;
    width: 10%;
    justify-content: center;
}

.review-btn {
    padding: 16px 32px;
    color: var(--bg-primary);
    background-color: var(--btn-default);
    border: none;
    border-radius: 20px;
    margin: 20px;
}

.review-btn:hover {
    background-color: var(--btn-hover);
}

.lease-duration {
    font-size: 16px;
    color: var(--txt-secondary);
}

.tags {
    margin-top: 8px;
    margin-bottom: 16px;
    display: inline-flex;
    gap: 14px;
}

.unit-type {
    background: linear-gradient(82deg,#F5F5DC, #BDA27E);
    padding: 16px 24px;
    border-radius: 45px;
    font-weight: 600;
    border: 1px solid var(--btn-default);
}

.unit-price {
    background: linear-gradient(82deg,#D9534F, #FF6F61);
    padding: 16px 24px;
    border-radius: 45px;
    font-weight: 600;
    border: 1px solid var(--btn-default);
}

.description {
    max-height: 120px;
    overflow: auto; /* allow user to scroll when the height exceed to the max-height*/
    font-size: 20px;
    line-height: 30px;
}